html,
body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 26px;
    font-weight: normal;
    color: #333333;
    text-transform: uppercase;
    background-color: #f2f2f2;
}

.main-wrapper {
    width: 1200px;
    min-height: 100%;
    margin: 0 auto;
    padding: 0;
    position: relative;
    background-color: white;
    box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);
}

main {
    padding-bottom: 120px;
}

.main-footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 120px;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

.main-navigation {
    font-size: 14px;
    line-height: 26px;
    text-align: center;
    color: #000000;
    font-weight: bold;
    background-color: white;
}

.site-navigation {
    list-style: none;
}

.site-navigation a {
    color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus {
    color: #81b3d2;
    background-color: white
}

.site-navigation a:active {
    color: rgba(0, 0, 0, 0.3);
    background-color: white
}

.visually-hidden:not(:focus):not(:active) {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    overflow: hidden;
}

h2 .info-sedona {
    font-size: 21px;
    line-height: 26px;
    color: #000000;
    font-weight: bold;
    background-color: white;
}

.title {
    font-size: 14px;
    line-height: 26px;
    text-align: center;
    color: #333333;
    font-weight: normal;
    background-color: white;
}

.reasons-additional-item {
    width: 280px;
    padding-top: 162px;
    padding-bottom: 70px;
    padding-right: 60px;
    padding-left: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

.search {
    text-align: center;
}

.search h3 {
    font-size: 30px;
    line-height: 36px;
    color: #000000;
    font-weight: bold;
    background-color: white;
}

.button {
    font: inherit;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    border: none;
}

.open-form {
    width: 568px;
    height: 86px;
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;
    color: white;
    background-color: #766357;
    cursor: pointer;
}

.open-form:hover,
.open-form:focus {
    background-color: #604e43;
}

.open-form:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #503e33;
}

.search-form {
    font-size: 14px;
    font-weight: bold;
    text-align: left;
    color: #000000;
    text-transform: uppercase;
    background-color: white;
}

.search-item input {
    width: 346px;
    height: 38px;
    background-color: #f2f2f2;
    border: none;
}

.search-item input:hover {
    background-color: #ebebeb;
}

.search-item input:focus {
    background-color: #ffffff;
}

.search-item ::-webkit-input-placeholder {
    font-size: 14px;
    font-weight: bold;
    text-align: left;
    color: #000000;
    text-transform: uppercase;
    padding-left: 15px;
}

.date {
    position: relative;
}

.date-icon {
    content: "";
    position: absolute;
    width: 21px;
    height: 22px;
    right: 9px;
    top: 9px;
    opacity: 0.3;
}

.date-icon:hover,
.date-icon:focus {
    opacity: 1;
}

.date-icon:active {
    fill: #81b3d2;
}

.children-wrapper {
    width: 114px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.children-container {
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.adults-wrapper {
    width: 114px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.adults-container {
    width: 227px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-minus {
    width: 38px;
    height: 40px;
    background-color: #f2f2f2;
    position: relative;
    font: inherit;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    border: none;
}

.button-minus::before {
    content: "";
    position: absolute;
    width: 12px;
    height: 3px;
    background-color: #a9a9a9;
    left: 14px;
    top: 19px;
}

.button-plus {
    width: 38px;
    height: 40px;
    background-color: #f2f2f2;
    position: relative;
    font: inherit;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    border: none;
}

.button-plus::before {
    content: "";
    position: absolute;
    width: 12px;
    height: 3px;
    background-color: #a9a9a9;
    left: 13px;
    top: 18px;
}

.button-plus::after {
    content: "";
    position: absolute;
    width: 12px;
    height: 3px;
    background-color: #a9a9a9;
    left: 13px;
    top: 18px;
    transform: rotate(90deg);
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

input[type="number"]:hover,
input[type="number"]:focus {
    -moz-appearance: number-input;
}

.button-seach {
    width: 458px;
    height: 58px;
    font-size: 21px;
    font-weight: bold;
    color: white;
    background-color: #81b3d2;
}

.button-seach:hover,
.button-seach:focus {
    background-color: #669ec0;
}

.button-seach:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #5496bd;
}

.main-footer {
    font-size: 21px;
    line-height: 26px;
    text-align: center;
    color: #000000;
    font-weight: bold;
    background-color: white;
}

.social-button {
    width: 46px;
    height: 48px;
    background-color: #81b3d2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-social {
    width: 160px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.social-button:hover,
.social-button:focus {
    background-color: #669ec0;
}

.social-button:active {
    background-color: #5496bd;
}

.social-button img:active {
    opacity: 0.3;
}

.footer-copyright b {
    font-size: 14px;
    line-height: 26px;
    text-align: center;
    color: #000000;
    font-weight: normal;
    background-color: white;
}

svg[data-name="Layer 1"] {
    width: 115px;
    height: 41px;
    background-color: white;
}

a path:hover,
a path:focus {
    fill: #81b3d2;
}

a path:active {
    fill: #bdbbbc;
}

.inner-page {
    margin: 0;
    padding: 0;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 26px;
    font-weight: normal;
    color: #333333;
    text-transform: uppercase;
    background-color: #f2f2f2;
}

.site-navigation-current a {
    color: #766357;
}

fieldset {
    border: 0 none;
}

.filter-title {
    font-size: 16px;
    font-weight: bold;
    line-height: 21px;
    text-align: left;
    color: #ffffff;
}

.infrastructure {
    font-size: 14px;
    font-weight: normal;
    color: #ffffff;
}

.type-housing {
    font-size: 14px;
    font-weight: normal;
    color: #ffffff;
}

.infrastructure {
    position: relative;
    cursor: pointer;
    display: flex;
}

.infrastructure input[type="checkbox"]+.checkbox-indicator {
    position: absolute;
    top: 0;
    left: 0;
    width: 23px;
    height: 23px;
    background-image: url('../img/checkbox-off.svg');
}

.infrastructure input[type="checkbox"]:checked+.checkbox-indicator {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 27px;
    height: 23px;
    background-image: url('../img/checkbox-on.svg');
}

.infrastructure input[type="checkbox"]:disabled+.checkbox-indicator {
    opacity: 0.3;
}

.type-housing {
    position: relative;
    cursor: pointer;
}

.type-housing input[type="checkbox"]+.checkbox-indicator {
    position: absolute;
    top: 0;
    left: 0;
    width: 23px;
    height: 23px;
    background-image: url('../img/checkbox-off.svg');
}

.type-housing input[type="checkbox"]:checked+.checkbox-indicator {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 27px;
    height: 23px;
    background-image: url('../img/checkbox-on.svg');
}

input[type="checkbox"] {
    visibility: hidden;
}

.type-housing input[type="checkbox"]:disabled+.checkbox-indicator {
    opacity: 0.3;
}

.filter-range {
    width: 320px;
    padding-top: 27px;
}

.filter-range-title {
    font-size: 16px;
    font-weight: bold;
    line-height: 21px;
    text-align: left;
    color: #ffffff;
    padding-bottom: 13px;
}

.price-controls {
    position: relative;
    height: 30px;
    margin-bottom: 20px;
    font-size: 0;
    border: 2px solid #ffffff;
    border-radius: 2px;
}

.price-controls::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 22px;
    background: #ffffff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.price-controls label {
    display: inline-block;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #ffffff;
    vertical-align: top;
    cursor: pointer;
}

.price-controls .min-price {
    width: 70px;
    padding-left: 50px;
    padding-top: 3px;
}

.price-controls .max-price {
    width: 70px;
    padding-left: 86px;
    padding-top: 3px;
}

.price-controls input {
    width: 40px;
    margin: 0;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #ffffff;
    background: none;
    border: none;
}

.price-controls input[name="min-price"] {
    width: 20px;
}

.range-controls {
    position: relative;
    margin-bottom: 32px;
}

.range-controls .scale {
    height: 2px;
    background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
    width: 80%;
    height: 2px;
    background: #ffffff;
}

.range-toggle {
    position: absolute;
    top: -9px;
    width: 4px;
    height: 4px;
    background: #ababab;
    border: 8px solid #ffffff;
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
    cursor: pointer;
}

.range-toggle:hover {
    background: #1c4f80;
}

.range-toggle-min {
    left: 0;
}

.range-toggle-max {
    left: 80%;
}

.show {
    display: block;
    margin: 0 auto;
    padding: 6px 34px;
    font-size: 14px;
    line-height: 20px;
    color: #ffffff;
    text-transform: uppercase;
    background: transparent;
    border: 2px solid #ffffff;
    border-radius: 2px;
    cursor: pointer;
}

.show:hover,
.show:focus,
.show:active {
    color: #000000;
    background-color: #ffffff;
}

.sorting span {
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;
    text-align: left;
    color: #000000;
    background-color: #ffffff;
}

.sorting h3 {
    font-size: 12px;
    font-weight: normal;
    line-height: 18px;
    text-align: left;
    color: #000000;
    background-color: #ffffff;
}

.sorting-type {
    list-style: none;
    font-size: 12px;
    line-height: 18px;
    text-align: left;
    color: rgba(0, 0, 0, 0.3);
    font-weight: normal;
    background-color: white;
}

.sorting-type a {
    color: rgba(0, 0, 0, 0.3);
    border-bottom: 1px dashed rgba(0, 0, 0, 0.3);
}

.sorting-type a:hover,
.sorting-type a:focus {
    color: #81b3d2;
    background-color: white;
    border-bottom: 1px dashed #81b3d2;
}

.sorting-type a:active {
    border: none;
    color: #000000;
    background-color: white;
}

.sorting-cost a {
    border: none;
    color: #81b3d2;
    background-color: white;
}

a.arrows path {
    fill: #cacaca;
}

a .arrow-down path {
    fill: #81b3d2;
}

a.arrows path:hover,
a.arrows path:focus {
    fill: #000000;
}

a.arrows path:active {
    fill: #81b3d2;
}

a .catalog-name {
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;
    text-align: left;
    color: #000000;
    background-color: white;
}

a .catalog-name:hover,
a .catalog-name:focus {
    color: #81b3d2;
}

a .catalog-name:active {
    color: rgba(0, 0, 0, 0.3);
}

.description {
    font-size: 14px;
    font-weight: normal;
    line-height: 21px;
    text-align: left;
    color: #333333;
    background-color: white;
    margin-bottom: 10px;
}

.button-info {
    width: 110px;
    height: 27px;
    font-size: 14px;
    font-weight: bold;
    text-align: left;
    line-height: 21px;
    color: white;
    background-color: #81b3d2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-info:hover,
.button-info:focus {
    background-color: #669ec0;
}

.button-info:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #5496bd;
}

.button-reservation {
    width: 142px;
    height: 27px;
    font-size: 14px;
    font-weight: bold;
    text-align: left;
    line-height: 21px;
    color: white;
    background-color: #766357;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-reservation:hover,
.button-reservation:focus {
    background-color: #604e43;
}

.button-reservation:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #503e33;
}

.catalog-reservation {
    width: 258px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.rating b {
    width: 110px;
    height: 27px;
    font-size: 14px;
    font-weight: normal;
    text-align: center;
    line-height: 21px;
    color: #666666;
    background-color: #f2f2f2;
    display: flex;
    align-items: center;
    justify-content: center;
}

html,
body {
    min-width: 1280px;
}

.main-header {
    min-height: 56px;
}

.main-navigation {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.main-header-logo {
    width: 140px;
    height: 71px;
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -70px;
    z-index: 1;
}

.site-navigation li {
    width: 239px;
}

.site-navigation {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 56px;
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.foto {
    padding-right: 240px;
}

.info-container {
    margin: 0 auto;
    padding: 0;
    min-height: 640px;
    text-align: center;
}

.info-welcome {
    height: 508px;
    background-image: url('../img/background-photo.jpg');
    background-position: top -80px center;
    background-repeat: no-repeat;
    position: relative;
}

.info-welcome::before {
    content: "";
    position: absolute;
    width: 1200px;
    height: 59px;
    top: 450px;
    right: 0px;
    background-image: url('../img/polygon.svg');
    background-position: center;
    background-repeat: no-repeat;
}

.info-picture {
    margin: auto;
    padding-top: 77px;
}

.white-back {
    background-color: white;
    width: 100%;
}

.info-sedona {
    padding-bottom: 30px;
    margin: auto;
}

.info-wrapper .title {
    margin: 0;
}

.info-wrapper {
    background-color: white;
    text-align: center;
    padding-top: 58px;
    padding-bottom: 51px;
}

.reasons {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    counter-reset: reasons;
}

.reasons-item {
    margin: 0;
    padding: 0;
    min-height: 256px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.reasons-additional {
    margin: 0;
    padding: 0;
    min-height: 256px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    list-style: none;
}

.reasons-item--image {
    background-color: #81b3d2;
    color: white;
}

.reasons-item--reverse {
    flex-direction: row-reverse;
}

.reasons-item--gray {
    background-color: #eeeeee;
}

.reasons-item-img {
    width: 800px;
    height: 256px;
    background-image: url('../img/feature-picture-1.jpg');
    background-position: center center;
    background-repeat: no-repeat;
}

.reasons-item-img--bridge {
    background-image: url('../img/feature-picture-2.jpg');
}

.reasons-item-info {
    width: 280px;
    padding-top: 46px;
    padding-bottom: 45px;
    padding-right: 60px;
    padding-left: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

.reasons-item-title {
    font-size: 21px;
    line-height: 21px;
    margin-top: 0;
    padding-bottom: 40px;
    margin-bottom: 30px;
    position: relative;
}

.reasons-item-title::after {
    display: block;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 50%);
    counter-increment: reasons;
    content: "- №" counter(reasons) " -";
    font-size: 14px;
    line-height: 21px;
    font-weight: normal;
}

.reasons-item-text {
    margin: 0;
}

.reasons-additional-title {
    margin: 0;
    font-size: 21px;
    line-height: 21px;
    font-weight: bold;
}

.title-housing {
    position: relative;
    padding-bottom: 20px;
}

.title-housing::before {
    content: "";
    position: absolute;
    top: -103px;
    left: 50%;
    width: 75px;
    height: 72px;
    margin-left: -37.5px;
    background-image: url('../img/icon-1.svg');
}

.title-food {
    position: relative;
    padding-bottom: 25px;
}

.title-food::before {
    content: "";
    position: absolute;
    top: -100px;
    left: 50%;
    width: 74px;
    height: 70px;
    margin-left: -37px;
    background-image: url('../img/icon-3.svg');
}

.title-souvenirs {
    position: relative;
    padding-bottom: 25px;
}

.title-souvenirs::before {
    content: "";
    position: absolute;
    top: -105px;
    left: 50%;
    width: 64px;
    height: 76px;
    margin-left: -32px;
    background-image: url('../img/icon-2.svg');
}

.search {
    min-height: 640px;
    margin-top: 50px;
    text-align: center;
}

.search .title {
    margin: auto;
    width: 440px;
    min-height: 30px;
    margin-bottom: 37px;
    margin-top: 22px;
}

.popup {
    width: 568px;
    left: 26.5%;
    margin: o auto;
    position: relative;
}

.search-form {
    width: 568px;
    height: 395px;
    box-shadow: 0px 7px 15px rgba(0, 1, 1, 0.2);
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
}

.form-wrapper {
    padding-right: 55px;
    padding-left: 55px;
    padding-top: 55px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
}

.search-item.date {
    height: 38px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    padding-bottom: 29px;
}

.search-item.date label[for="date-arrival"] {
    padding-right: 19px;
}

.search-item.date label[for="date-departure"] {
    padding-right: 15px;
}

.search-item.sum {
    height: 38px;
    padding-bottom: 54px;
    width: 460px;
    display: flex;
    justify-content: space-between;
}

.sum label[for="adults"] {
    padding-right: 41px;
}

.search-item.sum label[for="children"] {
    padding-right: 27px;
}

input[name="col-children"] {
    width: 38px;
    height: 38px;
}

input[name="col-adults"] {
    width: 38px;
    height: 38px;
}

.main-footer {
    padding: 0px;
    margin: 0px;
    min-height: 120px;
}

.main-footer .container {
    min-height: 48px;
    width: 1200px;
    padding-top: 35px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.tag {
    margin: 0px;
    min-height: 16px;
    width: 175px;
}

.footer-social {
    margin: 0px;
    min-height: 48px;
    width: 150px;
}

.footer-copyright {
    margin: 0px;
    min-height: 41px;
    width: 197px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

html body.inner-page {
    min-width: 1280px;
    min-height: 933px;
}

.main-header.inner-header {
    margin: 0;
}

.filter {
    margin: 0 auto;
    padding: 0;
    padding-left: 72px;
    padding-right: 74px;
    background-image: url('../img/filter-background.jpg');
    background-position: bottom 53% center;
    background-repeat: no-repeat;
}

fieldset {
    margin: 0;
    padding: 0;
}

.filter-container {
    width: 1200px;
    min-height: 217px;
    display: flex;
}

.filter-title.title-infrastructure {
    padding-bottom: 24px;
    padding-top: 28px;
}

.filter-title.title-type-housing {
    padding-bottom: 24px;
    padding-top: 28px;
}

.infrastructure-container {
    width: 120px;
    min-height: 115px;
    padding-right: 136px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}

.type-housing-container {
    width: 140px;
    min-height: 115px;
    padding-right: 340px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}

.infrastructure input {
    order: -1;
}

.infrastructure-container label {
    padding-left: 25px;
    margin-bottom: 20px;
}

.type-housing-container label {
    padding-left: 25px;
    margin-bottom: 20px;
}

.sorting {
    width: 1200px;
    margin: 0 auto;
    padding: 0;
    min-height: 86px;
    background-color: white;
    border-bottom: 1px solid rgba(0, 1, 1, 0.2);
}

.sorting-container {
    width: 1054px;
    min-height: 22px;
    padding-left: 72px;
    padding-top: 22px;
    padding-bottom: 22px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.sorting-type {
    margin: 0;
    padding: 0;
    width: 238px;
    display: flex;
    justify-content: space-between;
}

.arrows-container {
    width: 34px;
    display: flex;
    justify-content: space-between;
}

.sorting-result {
    padding-right: 49px;
}

.sorting-params {
    padding-right: 40px;
}

.sorting-type {
    padding-right: 504px;
}

.catalog {
    width: 1200px;
    min-height: 453px;
    padding: 0;
    background-color: white;
}

.catalog-list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    flex-direction: column;
}

.catalog-item {
    padding: 0;
    width: 1200px;
    min-height: 95px;
    background-color: white;
    padding-bottom: 27px;
    margin-top: 23px;
    border-bottom: 1px solid rgba(0, 1, 1, 0.2);
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.catalog-picture {
    padding-left: 72px;
}

.rating {
    min-height: 95px;
    padding-right: 73px;
    padding-left: 522px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.stars {
    margin-bottom: 45px;
}

.item-description {
    padding-left: 30px;
    min-height: 95px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.catalog-name {
    padding: 0;
    margin: 0;
    margin-bottom: 9px;
}

.img-container {
    height: 90px;
}

.form-off {
    display: none;
}

@keyframes bounce {
    0% {
        transform: translateY(-2000px)
    }
    70% {
        transform: translateY(30px)
    }
    90% {
        transform: translateY(-10px)
    }
    100% {
        transform: translateY(0px)
    }
}

.search-form {
    animation-name: bounce;
    animation-duration: 0.8s;
}

@keyframes shake {
    0%,
    100% {
        transform: translateY(0px)
    }
    10%,
    30%,
    50%,
    70%,
    90% {
        transform: translateY(-10px)
    }
    20%,
    40%,
    60%,
    80% {
        transform: translateY(10px)
    }
}

.modal-error {
    animation-name: shake;
    animation-duration: 0.6s;
}

.map {
    width: 1200px;
    height: 473px;
    background-image: url('../img/map.jpg');
}